*.o
*.so
*.bundle
*.gem
*.swp
TAGS
/build/data/UnicodeData.marshalled
/ext/u/Makefile
/ext/u/u.bundle.dSYM/
extconf.h
mkmf.log
/tests/data
/packages
.emacs.desktop
.emacs.desktop.lock
/.yardoc/
/doc/
#*#
.#*
!/templates/now/default/tags
