#*#
*.bundle
*.gem
*.gemspec
*.o
*.so
.#*
TAGS
extconf.h
mkmf.log
/.yardoc/
/.yardopts.html
/build/data/
/doc/
/ext/u/.RUBYARCHDIR.time
/ext/u/Makefile
/ext/u/extconf.rb.options
/ext/u/u.bundle.dSYM/
/packages
/test/unit/normalize.rb
/tests/data
